html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  overflow-x: hidden;
}

.error-page {
  background-color: #f7edee;
  height: 100vh;
}

.error-page-title {
  font-family: "abrilFatface", serif;
  color: #3a4556;
  font-size: 500%;
}

.error-page-content {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fonts-loaded {
  font-family: "PT Sans", sans-serif;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

img.toggle {
  width: 60%;
}

.portfolio-border {
  border: solid 1px #000;
}

.portfolio-title {
  font-family: sans-serif;
  text-align: right;
  margin-right: .5em;
  color: #f7edee;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  margin-bottom: 1em;
}

.fonts-loaded .portfolio-title {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fonts-loaded .main-nav-link {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fonts-loaded .banner-title-second {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fonts-loaded .banner-btn {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fonts-loaded .aboutme-title {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fonts-loaded .banner-title {
  font-family: 'Abril Fatface', cursive;
}

.fonts-loaded .banner-title-2 {
  font-family: 'Abril Fatface', cursive;
}

.fonts-loaded .footer-title {
  font-family: 'Abril Fatface', cursive;
}

.portfolio-info {
  color: #fff;
  text-align: right;
  font-family: sans-serif;
  margin-right: .9em;
}

.nav {
  display: none;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.change {
  background-color: grey;
  transition: all ease .5s;
}

.nav-close {
  display: none;
}

.nav-check {
  position: fixed;
  bottom: -8em;
}

label.nav-label::before{
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
  z-index: 100;
}

.nav-label {
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1.2em;
}

.nav-check:checked ~ .nav {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #3a4556;
  height: 100vh;
  position: fixed;
  z-index: -9;
}

.nav-check:checked ~ .nav li {
  display: block;
  line-height: 3;
  width: 100%;
  font-size: 150%;
}

.nav-check:checked ~ .nav .nav-links {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.nav-check:checked ~ .nav li .nav-logo {
  display: none;
}

.nav-check:checked ~ .nav li .main-nav-link {
  color: #f7edee;
}

.main-nav-link {
  font-family: sans-serif;
  font-size: 60%;
  letter-spacing: 0.40em;
  text-indent: 0.40em;
  color: #3a4556;
  margin: 20px 20px;
  padding: 10px 40px;
  font-family: sans-serif;
}

.main-nav-link:hover {
  color: #666;
  transition: all 250ms ease-in;
}

.nav-logo {
  display: block;
  top: 1.2em;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-logo-2 {
  position: absolute;
  top: -0.1;
  left: 0;
  margin: 1em;
}

.mainnav {
  z-index: 1000;
  top: 0px;
  transition: .5s;
  width: 100%;
  position: absolute;
}

.nav.change {
  background-color: red;
  transition: all ease .5s;
}

.banner {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
}

.banner-sidebar {
  position: absolute;
  top: 0em;
  right: 0;
  width: 15%;
  height: 100vh;
  background-color: #3a4556;
}

.banner .banner-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  background: url("") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f7edee;
  min-height: 400px;
}

.banner .bannerscroll {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: block;
  width: 100%;
  max-width: none;
}

.banner .bannerscroll-text {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 40%;
  letter-spacing: 0.15em;
  margin: 0;
  height: 17px;
  color: #3a4556
}

.banner-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  font-size: 85%;
  width: 80%;
}

.banner-title-second {
  font-size: 65%;
  letter-spacing: 0.40em;
  font-family: sans-serif;
  color: #3a4556;
  text-align: left;
}

.banner-title {
  margin-top: 1em;
  letter-spacing: 0.03em;
  font-family: serif;
  color: #3a4556;
  text-align: left;
  margin-bottom: .2em;
}

.banner-title-2 {
  font-family: serif;
  color: #3a4556;
  text-align: left;
  letter-spacing: 0.03em;
}

.banner-paragraph {
  color: #fff;
}

.banner-content-main {
  margin-left: 1.5em;

}

.banner-btn {
  font-family: sans-serif;
  color: #3a4556;
  padding: 10px 20px;
  border: solid #3a4556 2px;
  text-transform: uppercase;
  font-size: 40%;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  padding: 1.5em 1.7em 1em;
}

.banner-btn-scroll {
  text-align: left;
}

.banner-btn:hover {
  background-color: #cccccc;
  transition: all 250ms linear;
}

.social-media-banner i {
  display: block;
  margin-top: .5em;
}

.social-media-banner {
  position: absolute;
  right: 1.5em;
  bottom: 2em;
}

.aboutme-title {
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.the-designer {
  display: table;
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #f7edee;
}

.the-designer-inner {
  display: table-cell;
  vertical-align: middle;
}

.the-designer-paragraph {
  text-align: center;
}

.typeofdesign-title {
  font-variant: small-caps;
  color: #fff;
  margin-bottom: 1em;
  font-size: 105%;
}

.portfolio-bg {
  background-color: #3a4556;
}

.portfolio-desc {
  margin-left: 4em;
  font-size: 75%;
  line-height: 1.6em;
  text-align: right;
  letter-spacing: 0.05em;
}

.portfolio-title {
  font-size: 110%;
}

.container {
  background: #fff;
  border-top: solid 4px #3a4556;
  border-right: solid 4px #3a4556;
  border-left: solid 4px #3a4556;
}

.slide-img {
  position: absolute;
}

.slide-img img {
  width: 100%;
  transform: scale(1.05);
}

.pre {
  left: 0;
  margin-left: 1em;
}

.nxt {
  right: 0;
  margin-right: 1em;
}

img.scrolling-btns {
  width: 100%;
}

.nav-btn {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  position: relative;
  top: -5px;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.4);
}

.slide-img {
  z-index: -1;
}

.slide-title {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.slide-radio {
  position: fixed;
}

footer {
  background-color: #f7edee;
    border-top: solid 4px #3a4556;
}

.footer-contact {
  margin: 2em;
}

.social-media {
  margin-top: 1.5em;
}

.copyright-text {
  margin: 0;
  padding: 1.5em;
}

.copyright {
  background-color: #3a4556;
}

.footer-number, .footer-email {
  color: #000;
  margin: 0;
}

.footer-content, .copyright {
  color: #000;
}

.footer-title {
  font-family: serif;
  color: #3a4556;
}

.footer-email:hover{
  color: #339999;
  transition: all 250ms ease-in;
}

@media only screen and (min-width: 25em) {


  .banner-title, .banner-title-2{
    font-size: 3em;
  }

  .banner-title-second {
    font-size: 100%;
  }

  .banner-btn {
    font-size: 70%;
  }

  .pre, .nxt {
    width: 6%;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
  }

  .nav-check:checked ~ .nav .main-nav-link {
    font-size: 80%;
    padding: .5em;
    margin: 0;
  }
}

@media only screen and (min-width: 38em) {


  .banner-title, .banner-title-2{
    font-size: 4em;
  }

  .banner-title-second {
    font-size: 119%;
    margin: 0;
  }

  .banner-btn {
    font-size: 70%;
  }

  .bannerscroll-text {
    font-size: 60%;
  }

  .nav-check:checked ~ .nav .main-nav-link {
    font-size: 80%;
    padding: 1.3em;
    margin: 0;
  }

  .pre, .nxt {
    width: 3%;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
  }

  .portfolio-title {
    margin-bottom: 1em;
  }

  .banner-title {
    margin-bottom: .4em;
  }

  .banner-title-second {
    padding-top: .5em;
  }

  .portfolio-desc {
    font-size: 70%;
  }

}

@media only screen and (min-width: 60em) {

  label.nav-label {
    display: none;
  }

  .nav {
    display: block;
  }

  .header {
    padding-bottom: 1.3em;
  }

  .nav-check:checked ~ .nav .main-nav-link {
    font-size: 80%;
    padding: 2em;
    margin: 0;
  }

  .nav-logo-2 {
    display: none;
  }

  .banner-content-main {
    margin-left: 4em;
  }

  .nav-links li {
    display: inline-block;
  }

  .banner-title, .banner-title-2{
    font-size: 6em;
    line-height: .8em;
  }

  .banner-title-second{
    padding-top: 1em;
    font-size: 170%;
  }

}
