<div class="unit xs-1 s-1 m-1 l-1-3 xl-1-3 text-center">
  <div class="portfolio-info">
    <h1 class="typeofdesign-title pad-t push-0 pad-b-0 portfolio-title micro">{{site.data[include.data].title-1}}</h1>
    <h2 class="push-0 pad-t-1 portfolio-title mega">{{site.data[include.data].title-2}}</h2>
    <p class="portfolio-desc micro push-1-2 portfolio-info pad-t-1-2"><i>{{site.data[include.data].desc}}</i></p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-2-3 xl-2-3 text-center">
  <div class="container embed embed-16by9" itemscope itemtype="http://schema.org/CreativeWork">
    {% for item in site.data[include.data].images %}
    <input class="slide-radio" type="radio" name="{{include.data}}-input" id="{{include.data}}-{{forloop.index}}" {% if forloop.first %}checked{%endif%}>
    <div class="slide-img embed-item" id="{{include.data}}-{{forloop.index}}-slide" itemprop="encoding" itemscope itemtype="http://schema.org/MediaObject">
      <img class="portfolio-img" src="{{site.baseurl}}/images/{{item.src}}" alt="Case study Images" itemprop="thumbnailUrl">
      <div itemprop="accessibilityControl">
        {% unless forloop.first %}
          <label for="{{include.data}}-{{forloop.index|minus:1}}" class="pre">
            <img class="scrolling-btns" src="{{site.baseurl}}/images/pre.svg" alt="Click to view the previous slide.">
          </label>
        {% endunless %}
        {% unless forloop.last %}
          <label for="{{include.data}}-{{forloop.index|plus:1}}" class="nxt">
            <img class="scrolling-btns" src="{{site.baseurl}}/images/nxt.svg" alt="Click to view the next slide.">
          </label>
        {% endunless %}
      </div>
    </div>
    {% endfor %}
    <div class="nav-btn" itemprop="accessibilityControl">
      {% for item in site.data[include.data].images %}
      <label class="dots" id="{{include.data}}-{{forloop.index}}-dot" for="{{include.data}}-{{forloop.index}}" rel="next"></label>
      {% endfor %}
    </div>
  </div>
</div>
