<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>Andreane Labrosse Design — Canadian Graphic Designer — Ottawa, Canada</title>
<meta name="description" content="Andreane Labrosse Design: A Canadian Graphic Designer located in Ottawa specializing in branding, print and illustration.">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="common/modules.css" rel="stylesheet">
<link href="common/grid.css" rel="stylesheet">
<link href="common/type.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="mainnav text-center">
      <i class="nav-logo-2 icon i-48">
        <a href="#"><img src="images/logo.svg" alt="Andreane Labrosse Design's Logo"></a>
      </i>
      <input type="checkbox" class="nav-check" id="nav-check">
        <label class="nav-label" for="nav-check">
          <i class="icon i-32">
            <img class="nav-open" src="images/toggle.svg" alt="Toggle Navigation Open">
            <img class="nav-close" src="images/toggle-close.svg" alt="Toggle Navigation Close">
          </i>
        </label>
        <ul class="nav list-group-inline">
          <li><a class="main-nav-link" href="#" rel="home">home</a></li>
          <li><a class="main-nav-link" href="#the-designer" rel="me">the designer</a></li>
          <li>
            <i class="nav-logo icon i-64">
              <img src="images/logo.svg" alt="Andreane Labrosse Design's Logo">
            </i>
          </li>
          <li><a class="main-nav-link" href="#portfolio" rel="">portfolio</a></li>
          <li><a class="main-nav-link" href="#contact-me" rel="contact">contact me</a></li>
        </ul>
    </nav>
  </header>
  <section class="banner">
    <div class="bannercontent">
      <h1 class="banner-title">Changing</h1>
      <h1 class="banner-title-2">Perspectives</h1>
      <h2 class="banner-title-second pad-b-2">one concept at a time.</h2>
      <div class="banner-btn-scroll">
        <a class="banner-btn micro" href="#portfolio" rel="contents">portfolio</a>
      </div>
      <div class="bannerscroll">
        <i class="icon i-18">
          <a href="#the-designer" rel=""><img src="images/scroll-down-banner.svg" alt="Click me for more information."></a>
        </i>
      </div>
    </div>
  </section>
  <main>
    <section id="the-designer" class="the-designer">
        <div class="the-designer-inner">
          <div class="thedesignercontent island-double">
            <h2 class="zetta pad-t-1-2">Who am I?</h2>
            <p class="the-designer-paragraph milli">Andy is what you may call me. <em>Graphic Design</em> allows me to <em>empathize</em> and to see things in <em>different perspectives.</em> It forces me to <em>explore the different styles</em> and to keep up with the <em>latest design trends.</em> It enables me to <em>solve problems</em> in a rational way, while designing in an emotion way. Graphic Design is the best of both worlds, and I just happen to have a <em>passion</em> for it.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio">
    </section>
  </main>

{{content}}

  <footer id="contact-me">
    <div class="footer-content island text-center">
      <h4 class="zetta">Get in touch!</h4>
      <div class="logo-img">
        <i class="icon i-64">
          <a href="#"><img src="images/logo.svg" alt="Andreane Labrosse Design's Logo"></a>
        </i>
      </div>
      <div class="footer-contact">
        <p class="micro footer-number">613-898-0356</p>
        <a href="#" rel="email"><p class="micro footer-email">andylabrosse95@hotmail.com</p></a>
      </div>
      <div class="social-media">
        <i class="icon i-32">
          <a href="#the-designer" rel="image_src"><img src="images/logo.png" alt="Andreane Labrosse Design's Instagram"></a>
        </i>
        <i class="icon i-32">
          <a href="#the-designer" rel="image_src"><img src="images/logo.png" alt="Andreane Labrosse Design's Linked In"></a>
        </i>
        <i class="icon i-32">
          <a href="#the-designer" rel="image_src"><img src="images/logo.png" alt="Andreane Labrosse Design's Email"></a>
        </i>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright-text micro text-center" rel="copyright">Copyright © 2017 Andreane Labrosse</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="../js/smooth-scrolling.js"></script>
  <script src="../js/jquery.waypoints.min.js"></script>
  <script src="../js/parallax.min.js"></script>
  <script src="../js/waypoints.js"></script>
</body>
</html>
