<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>Andreane Labrosse Design — Canadian Graphic Designer</title>
<meta name="description" content="Andreane Labrosse Design: A Canadian Graphic Designer located in Ottawa specializing in branding, print and illustration.">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="common/modules.css" rel="stylesheet">
<link href="common/grid.css" rel="stylesheet">
<link href="common/type.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="mainnav text-center">
      <i class="nav-logo-2 icon i-48">
        <img src="images/logo.svg" alt="">
      </i>
      <input type="checkbox" class="nav-check" id="nav-check">
        <label class="nav-label" for="nav-check">
          <i class="icon i-32">
            <img class="nav-open" src="images/toggle.svg" alt="">
            <img class="nav-close" src="images/toggle-close.svg" alt="">
          </i>
        </label>
        <ul class="nav list-group-inline">
          <li><a class="main-nav-link" href="#">home</a></li>
          <li><a class="main-nav-link" href="#the-designer">the designer</a></li>
          <li>
            <i class="nav-logo icon i-64">
              <img src="images/logo.svg" alt="">
            </i>
          </li>
          <li><a class="main-nav-link" href="#portfolio">portfolio</a></li>
          <li><a class="main-nav-link" href="#contact-me">contact me</a></li>
        </ul>
    </nav>
  </header>
  <section class="banner">
    <div class="banner-content">
      <h1 class="banner-title">Changing</h1>
      <h1 class="banner-title-2">Perspectives</h1>
      <h2 class="banner-title-second pad-b-2">one concept at a time.</h2>
      <div class="banner-btn-scroll">
        <a class="banner-btn micro" href="#portfolio">portfolio</a>
      </div>
      <div class="bannerscroll">
        <i class="icon i-18">
          <a href="#the-designer"><img src="images/scroll-down-banner.svg" alt=""></a>
        </i>
      </div>
    </div>
  </section>
  <main>
    <section id="the-designer" class="the-designer">
        <div class="the-designer-inner">
          <div class="the-designer-content island-double">
            <h2 class="zetta pad-t-1-2">Who am I?</h2>
            <p class="the-designer-paragraph milli"></p>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio">
    </section>
  </main>

{{content}}

  <footer id="contact-me">
    <div class="footer-content island text-center">
      <h4 class="zetta">Get in touch!</h4>
      <i class="icon i-64">
        <a href="#the-designer"><img src="images/logo.svg" alt=""></a>
      </i>
      <div class="footer-contact">
        <p class="micro footer-number">613-898-0356</p>
        <a href="#"><p class="micro footer-email">andylabrosse95@hotmail.com</p></a>
      </div>
      <div class="social-media">
        <i class="icon i-32">
          <a href="#the-designer"><img src="images/logo.png" alt=""></a>
        </i>
        <i class="icon i-32">
          <a href="#the-designer"><img src="images/logo.png" alt=""></a>
        </i>
        <i class="icon i-32">
          <a href="#the-designer"><img src="images/logo.png" alt=""></a>
        </i>
        <i class="icon i-32">
          <a href="#the-designer"><img src="images/logo.png" alt=""></a>
        </i>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright-text micro text-center">Copyright © 2017 Andreane Labrosse</p>
    </div>
  </footer>

</body>
</html>
